In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [3]:
SFNT = pd.read_csv('F:/flight_delay_new/SFSNT.csv')

In [4]:
SFNT.head(5)

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
0,S19,A1915,ARP1,ARP3,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1,S19,A1904,ARP3,ARP1,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
2,S19,I1304,ARP3,ARP1,8:00,9:15,I,Y,NaN,Y,Y,Y,NaN,Y,20190331,20191026,N
3,S19,B1802,ARP2,ARP1,8:00,8:55,B,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
4,S19,J1106,ARP1,ARP2,8:00,9:05,J,NaN,Y,Y,NaN,Y,Y,NaN,20190730,20190824,N

In [13]:
df =pd.read_csv("F:/flight_delay_new/AFSNT.csv",encoding = "ISO-8859-1")

In [15]:
df.head(5)

,SDT_YY,SDT_MM,SDT_DD,SDT_DY,ARP,ODP,FLO,FLT,REG,AOD,IRR,STT,ATT,DLY,DRR,CNL,CNR
0,2017,1,1,ÀÏ,ARP3,ARP6,J,J1955,SEw3NzE4,D,N,10:05,10:32,N,NaN,N,NaN
1,2017,1,1,ÀÏ,ARP3,ARP6,J,J1954,SEw3NzE4,A,N,9:30,9:31,N,NaN,N,NaN
2,2017,1,1,ÀÏ,ARP3,ARP6,J,J1956,SEw3NzE4,A,N,12:45,13:03,N,NaN,N,NaN
3,2017,1,1,ÀÏ,ARP3,ARP6,J,J1957,SEw3NzE4,D,N,13:25,14:09,Y,C02,N,NaN
4,2017,1,1,ÀÏ,ARP3,ARP6,J,J1958,SEw3NzE4,A,N,16:10,16:31,N,NaN,N,NaN

In [16]:
df.tail(5)

,SDT_YY,SDT_MM,SDT_DD,SDT_DY,ARP,ODP,FLO,FLT,REG,AOD,IRR,STT,ATT,DLY,DRR,CNL,CNR
987704,2019,6,30,ÀÏ,ARP3,ARP4,L,L1810,SEw4MjM1,D,N,21:10,21:53,Y,C02,N,NaN
987705,2019,6,30,ÀÏ,ARP3,ARP4,L,L1809,SEw4MjM1,A,N,20:35,20:59,N,NaN,N,NaN
987706,2019,6,30,ÀÏ,ARP3,ARP4,L,L1801,SEw4MzYz,A,N,7:20,7:10,N,NaN,N,NaN
987707,2019,6,30,ÀÏ,ARP3,ARP4,L,L1807,SEw4MjM3,A,N,17:30,17:32,N,NaN,N,NaN
987708,2019,6,30,ÀÏ,ARP3,ARP4,L,L1804,SEw4MjM3,D,N,14:45,14:54,N,NaN,N,NaN

In [18]:
df.shape

(987709, 17)

In [25]:
df['SDT_YY'].unique()

array([2017, 2018, 2019], dtype=int64)

In [26]:
df['DLY'].unique()

array(['N', 'Y'], dtype=object)

In [27]:
df['AOD'].unique()

array(['D', 'A'], dtype=object)

In [28]:
df['ARP'].unique()

array(['ARP3', 'ARP2', 'ARP1', 'ARP4', 'ARP8', 'ARP14', 'ARP12', 'ARP6',
       'ARP5', 'ARP9', 'ARP13', 'ARP11', 'ARP15', 'ARP7', 'ARP10'],
      dtype=object)

In [29]:
df['FLO'].unique()

array(['J', 'B', 'F', 'C', 'A', 'H', 'E', 'K', 'I', 'L', 'G', 'D'],
      dtype=object)

In [30]:
df['ODP'].unique()

array(['ARP6', 'ARP3', 'ARP1', 'ARP12', 'ARP15', 'ARP11', 'ARP13', 'ARP8',
       'ARP2', 'ARP9', 'ARP4', 'ARP5', 'ARP14', 'ARP7', 'ARP10'],
      dtype=object)

In [31]:
df['SDT_DY'].unique()

array(['ÀÏ', '¿ù', 'È\xad', '¼ö', '¸ñ', '±Ý', 'Åä'], dtype=object)

In [32]:
import seaborn as sns